html {
  filter: invert(1) !important;
}

/* body:nth-of-type(1) header:first-of-type {
  background-color: #d33 !important;
  color: #333 !important;
} */

img, svg > path {
  filter: invert(1) !important;
}
